  <div class="row">
    <div class="large-3 columns">
      <h1><img src="assets/logo_unipd.png" alt="Logo"/></h1>
    </div>
    <div class="large-9 columns">
     <div class="button-bar">
      <ul class="button-group">
        <li><a href="http://www.unipd.it/" class="small button">Unipd.it</a></li>
        <li><a href="http://www.unipd.it/dipartimenti" class="small button">Dipartimenti</a></li>
        <li><a href="http://bibliotecadigitale.cab.unipd.it/collezioni_navigazione/chi-siamo-2/polo-lettere" class="small button">Biblioteche</a></li>
        <li><a href="http://www.unipd.it/rubrica" class="small button">Rubrica</a></li>
      </ul>
      <ul class="button-group">
        <li><a href="http://www.unipd.it/webmail" class="small button">Webmail</a></li>
        <li><a href="https://uniweb.unipd.it/" class="small button">Uniweb</a></li>
      </ul>
    </div>
</div>  
</div>
